$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$site-list-lighbrown: #826550;
$user-list-darkbrown: #6a4d38;
$white: #ffffff;
$crem-white: #f8f5f2;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;


